<div class="hero-unit">
    <div class="row">
        <div class="span7">
            <h1>Archive Stats</h1>
            <table class="table">
                <caption>Stats for impi.us as of May 9th, 2013 @ 14:11 CST</caption>
                <tbody>
                    <tr>
                        <td>Artists</td>
                        <td>344</td>
                    </tr>
                    <tr>
                        <td>Torrents</td>
                        <td>4,283</td>
                    </tr>
                    <tr>
                        <td>Albums</td>
                        <td>788</td>
                    </tr>
                    <tr>
                        <td>Singles</td>
                        <td>510</td>
                    </tr>
                    <tr>
                        <td>Queue</td>
                        <td>510</td>
                    </tr>                                
                    <tr>
                        <td>Last Global Sync</td>
                        <td>Tuesday, July 3rd, 2012</td>
                    </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary">Full Statistics</a></p>
        </div>
        <div class="span3">
            <h3>New Releases</h3>
            <ul>
                <li><a href="">Yo La Tengo - Fade</a></li>
                <li><a href="">The Raconteurs - Consolers of the Lonely</a></li>
                <li><a href="">Sleigh Bells - Reign of Terror</a></li>
                <li><a href="">Tame Impala - Lonerism</a></li>
                <li><a href="">Four Tet - 0181</a></li>
                <li><a href="">Dan Deacon - America</a></li>
            </ul>
        </div>
    </div>
</div>