<div class="row" id="management">
    <div class="span12">
        <h1 id="myArchive">My Archive</h1>
        <div class="row">
            <div class="span7">
                <ul class="nav nav-pills">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse by<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Artist</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Other</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Results per page<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">25</a></li>
                            <li><a href="#">50</a></li>
                            <li><a href="#">100</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sort by<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Artist</a></li>
                            <li><a href="#">Sync Date</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Singles</a></li>
                            <li><a href="#">EPs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="span5">
                <div class="pagination pagination-right">
                    <ul>
                        <li class="disabled"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th><label class="checkbox select-all"><input type="checkbox"></label></th>
                    <th>Artist</th>
                    <th>Date Sync'd</th>
                    <th>Counts</th>
                    <th>Collector Settings</th>
                    <th>Actions</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Warpaint</a></td>
                    <td>May 1st, 2013</td>
                    <td>Albums(12), Singles(8), EPs(7)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-time"></i> <i class="icon-lock"></i> <i class="icon-star"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Suuns</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(5), Singles(3), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-time"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Man or Astroman?</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(6), Singles(1), EPs(3)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-time"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Tinariwen</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(1), Singles(0), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Om</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(4), Singles(4), EPs(1)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-star"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">High on Fire</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(5), Singles(3), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Sleep</a></td>
                    <td>May 15th, 2013</td>
                    <td>Albums(6), Singles(13), EPs(12)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-time"></i> <i class="icon-lock"></i> <i class="icon-star"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Silver Apples</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(2), Singles(3), EPs(1)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-star"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">The Warlocks</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(7), Singles(7), EPs(4)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-lock"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">The Black Angels</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(5), Singles(3), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-lock"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">Deerhunter</a></td>
                    <td>January 13th, 2013</td>
                    <td>Albums(5), Singles(3), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-lock"></i>
                    </td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">13th Floor Elevators</a></td>
                    <td>March 29th, 2013</td>
                    <td>Albums(15), Singles(20), EPs(8)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label class="checkbox"><input type="checkbox"></label></td>
                    <td><a href="#">King Khan &amp; BBQ Show</a></td>
                    <td>May 3rd, 2013</td>
                    <td>Albums(5), Singles(3), EPs(2)</td>
                    <td><a href="#">Settings</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary dropdown-toggle btn-small" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-refresh"></i> Sync</a></li>
                                <li><a href="#"><i class="icon-edit"></i> Edit Collector</a></li>
                                <li><a href="#"><i class="icon-lock"></i> Lock</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-remove"></i>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <i class="icon-time"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination pagination-right">
            <ul>
                <li class="disabled"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>