<table class="table table-condensed table-hover" id="player">
    <caption>Now Playing</caption>
    <thead>
        <tr>
            <th>Artist</th>
            <th>Album</th>
            <th># + Track</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td>Strokes</td>
            <td>Is This It</td>
            <td>1. Is This It</td>
            <td>2:34</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>2. The Modern Age</td>
            <td>3:32</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>3. Soma</td>
            <td>2:37</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>4. Barely Legal</td>
            <td>3:58</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>5. Someday</td>
            <td>3:07</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>6. Alone, Together</td>
            <td>3:12</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>7. Last Nite</td>
            <td>3:17</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>8. Hard to Explain</td>
            <td>3:47</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>9. New York City Cops</td>
            <td>3:36</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>10. Trying Your Luck</td>
            <td>3:27</td>
        </tr>
        <tr>
            <td>Strokes</td>
            <td>Is This It</td>
            <td>11. Take It or Leave It</td>
            <td>3:16</td>
        </tr>
    </tbody>
</table>