<table class="table table-condensed">
	<thead>
		<tr>
			<th>Status</th>
			<th>Torrent</th>
			<th>Scan Time</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Axis Tour CD-R - 2006 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Fractal Trax - 2006 (CD - MP3 - 320).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Let the Blind Lead Those Who Can See but Cannot Feel - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Maybe Logic Virtual 7 - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr class="error">
			<td><button class="btn btn-mini btn-danger" type="button">Verified</button></td>
			<td>Atlas Sound - Parallax - 2011 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Requiem for All the Lonely Teenagers with Passed Out Moms - 2008 (Vinyl - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Axis Tour CD-R - 2006 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Fractal Trax - 2006 (CD - MP3 - 320).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Let the Blind Lead Those Who Can See but Cannot Feel - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Maybe Logic Virtual 7 - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr class="error">
			<td><button class="btn btn-mini btn-danger" type="button">Verified</button></td>
			<td>Atlas Sound - Parallax - 2011 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Let the Blind Lead Those Who Can See but Cannot Feel - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Maybe Logic Virtual 7 - 2008 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr class="error">
			<td><button class="btn btn-mini btn-danger" type="button">Verified</button></td>
			<td>Atlas Sound - Parallax - 2011 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Requiem for All the Lonely Teenagers with Passed Out Moms - 2008 (Vinyl - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>
		<tr>
			<td><button class="btn btn-mini btn-success" type="button">Verified</button></td>
			<td>Atlas Sound - Axis Tour CD-R - 2006 (CD - MP3 - V0 (VBR)).torrent</td>
			<td>2013-07-01 23:37:26</td>
		</tr>		
	</tbody>
</table>