<ul>
	<li>
		<button class="btn btn-mini btn-success" type="button">Verified</button>
		Atlas Sound - Axis Tour CD-R - 2006 (CD - MP3 - V0 (VBR)).torrent
	</li>
	<li>
		<button class="btn btn-mini btn-success" type="button">Verified</button>
		Atlas Sound - Fractal Trax - 2006 (CD - MP3 - 320).torrent
	</li>
	<li>
		<button class="btn btn-mini btn-success" type="button">Verified</button>
		Atlas Sound - Let the Blind Lead Those Who Can See but Cannot Feel - 2008 (CD - MP3 - V0 (VBR)).torrent
	</li>
	<li>
		<button class="btn btn-mini btn-success" type="button">Verified</button>
		Atlas Sound - Maybe Logic Virtual 7 - 2008 (CD - MP3 - V0 (VBR)).torrent
	</li>
	<li>
		<button class="btn btn-mini btn-danger" type="button">Verified</button>
		Atlas Sound - Parallax - 2011 (CD - MP3 - V0 (VBR)).torrent
	</li>
	<li>
		<button class="btn btn-mini btn-success" type="button">Verified</button>
		Atlas Sound - Requiem for All the Lonely Teenagers with Passed Out Moms - 2008 (Vinyl - MP3 - V0 (VBR)).torrent
	</li>
</ul>