<div class="navbar-inner" data-ng-controller="TopbarCtrl as topbar">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#" data-ng-click="app.mainTemplate()">Whoperator</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="#"><i class="icon-backward icon-white"></i> <i class="icon-pause icon-white"></i> <i class="icon-forward icon-white"></i></a><li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle current-song"
                        data-toggle="dropdown"
                        data-ng-bind="topbar.tracks[0].artist + ' - ' + topbar.tracks[0].title + ' - ' + topbar.tracks[0].album">
                        <div class="progress progress-striped">
                            <div class="bar" style="width: 20%;"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-ng-repeat="track in topbar.tracks">
                            <a href="#" data-ng-bind="track.artist + ' - ' + track.title + ' - ' + track.album"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-ng-click="app.generalSettings()">General</a></li>
                        <li><a href="#" data-ng-click="app.apiSettings()">API</a></li>
                        <li><a href="#" data-ng-click="app.cacheSettings()">Cache</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Plugins</li>
                        <li><a href="#" data-ng-click="app.rTorrentSettings()">rTorrent</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Queue <span class="badge badge-success">510</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Sync Artist: Warpaint</a></li>
                        <li><a href="#">Sync Artist: Suuns</a></li>
                        <li><a href="#">Sync Artist: Om</a></li>
                        <li><a href="#">Sync Artist: Sleep</a></li>
                        <li><a href="#">Sync Artist: Tinariwen</a></li>
                        <li><a href="#">Sync Artist: The Warlocks</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Manage</a></li>
                    </ul>
                </li>
                <li><a href="#logModal" data-toggle="modal"><i class="icon-list icon-white"></i></a></li>
            </ul>
            <form class="pull-right navbar-search">
                <input class="span2 search-query" type="text" placeholder="Search">
            </form>

        </div><!--/.nav-collapse -->
    </div>
</div>
