<h1>Keybindings</h1>
<div class="lead">
	<p>Help text goes here.</p>
</div>
<hr>
<div class="row-fluid" data-ng-controller="KeyBindingsCtrl as key">
	<div class="span4 form-horizontal" data-ng-repeat="column in key.keyBindingColumns">
		<div class="control-group" data-ng-repeat="row in column">
            <label class="control-label" for="{{ $id }}" data-ng-bind="row.label"></label>
			<div class="controls">
                <input type="text" class="input-mini" id="{{ $id }}" value="{{ row.binding }}">
			</div>
		</div>
	</div>
</div>
